             /* Resset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* --------Style--------- */
html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Comon */

.row{
	margin-left: -8px;
	margin-right: -8px;
}

.row::after{
	content: "";
	display: block;
	clear: both;
}
.col{
	float: left;
	padding-left: 8px;
	padding-right: 8px;
}
.col-three{
	width: 33.33333%;
}
.col-two{
	width: 50%;
}

.col-full{
width: 100%;
}

.mt-8{
	margin-top: 8px !important;
}

.mt-16{
	margin-top: 16px !important;
}

.text-center{
	text-align: center !important;
}
.clear{
	clear: both;
}
/* ...........end ........*/
#big {

}
/*.............Header...........*/
#header  {
    height: 46px;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

#nav {
	display: inline-block;
}

#nav .subnav {
	list-style: none;
}

#nav > li {
	display: inline-block
}

#nav li {
	position: relative;
}

#nav li:hover .subnav {
	display: block;
}

#nav > li > a {
	text-transform: uppercase;
	color: #fff;
}

#nav  li a {
	
	text-decoration: none;
	line-height: 46px;
	padding: 0px 24px;
	display: block;
}
#nav .subnav li:hover a,#nav > li:hover > a {
	background-color: rgb(122, 116, 116);
	
}

#nav .subnav {
	display: none;
	position: absolute;
	top: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 10px rgba( 0, 0, 0, 0.3);
}	

#nav .subnav li a {
	color: black;
}

#nav .ti-angle-down {
	font-size: 12px;
}

#header .search-buton{
	float: right;
	
}

#header .search-buton:hover{
	background-color: rgb(122, 116, 116);
	cursor: pointer;
}

#header .search-icon{
	color: #fff ;
	font-size: 20px;
	line-height: 46px;
	padding: 0 21px;
}
/* ............End Header........ */

/* ..........Slider......... */
#slider {
	position: relative;
	margin-top: 46px;
	padding-top: 50%;
	background: url('/assets/img/Band/sliderman.jpg') top center /cover no-repeat;
	width: 100%;
	}
	#slider .text-content{
		position: absolute;
		color: #fff;
		bottom: 0;
	}
	#slider .text-content{
		position: absolute;
		bottom: 47px;
		text-align: center; 
		width: 100%;
	}
	#slider .text-heading{
		font-weight: 500;
		font-size: 24px;
		margin: 5px 0;
	}
	#text-tks{
		font-size: 15px;
	}
/* .............End Slider........... */

/* ............Content............ */
#content {

}
#content .content-section{
	width: 800px;
	padding: 64px 0;
	margin-left: auto;
	margin-right: auto;
}
#content .section-heading{
	font-size: 30px;
	font-weight: 500;
	text-align: center;
	margin: 8px 0;
	letter-spacing: 3px;
}
#content .section-sub-heading{
	font-size: 16px;
	text-align: center;
	margin: 15px 0;
	font-style: italic;
	opacity: 0.7;
}
#content .p1{
	font-size: 15px;
	text-align: justify;
	line-height: 1.4;
}
#content .members-list{
	margin-top: 46px ;
}
#content .member-name{
	font-size: 15px;
}
#content .name-avt{
	width: 154px;
	margin-top: 15px;
	border-radius: 5px;
}
 #content .tour{ 
	margin-top: 116px;
	background-color: black;
	font-weight: 450;
} 
#content .tour>.content-section{
	color: #fff;
}
.tiket{
	background-color: #fff;
}

.tiket li{
	color: #757575;
	font-size: 15px;
	padding: 11px 16px;
	border-bottom: 1px solid #ccc;
	list-style: none;
}
.tiket .sold-out{
	background-color: #f44336;
	color: #fff;
	padding: 3px 4px;
	margin-left: 13px;
	border-radius: 2px;
}
.tiket .three{
	float: right ;
	width: 24px;
	height: 24px;
	background-color: black;
	color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 23px;
	margin-top: -1.5px;
}
.place-list{
	margin-top: 32px ;
	margin-bottom: 48px;
}
.place-img{
	width: 100%;
}
.place-img:hover {
	opacity: 0.6;
}
.place-content{
	font-size: 15px;
	padding: 16px;
	color: black;
	background-color: #fff;
}
.place-heading{
	font-size: 15px;
	font-weight: 610;
}
.place-time{
	margin-top: 15px;
	color: #757575;
}	

.place-p{
	margin-top: 15px;
	line-height: 1.4;
}
.blace-buy{
	color: #fff;
	background-color: black;
	text-decoration: none;
	padding: 10px 14px;
	display: inline-block;
	margin-top: 15px;
}
.blace-buy:hover{
	color: black;
	background-color: #ccc;
}

/* .row .contact-content{
	padding-top: 48px;
} */
.contact-info{
	font-size: 18px;
	line-height: 1.5;
}

.contact-info i[class*="ti-"] {
	width: 30px;
	display: inline-block;
}

.contact-form{

}

.contact-form .form-control{
	padding: 11px;
	border: 1px solid #ccc;
	width: 100%;
}

#footer {

}
